# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Directory for instrumented libs
lib-cov

# Coverage
coverage
*.lcov
.nyc_output

# Grunt
.grunt

# Bower
bower_components

# node-waf
.lock-wscript

# Binary addons
build/Release

# Dependency dirs
node_modules/
jspm_packages/
web_modules/

# TypeScript
*.tsbuildinfo

# npm/yarn/pnpm cache
.npm
.yarn-integrity
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*

# ESLint / Stylelint
.eslintcache
.stylelintcache

# Microbundle cache
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/

# REPL history
.node_repl_history

# npm pack
*.tgz

# dotenv
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Parcel
.cache
.parcel-cache

# Frameworks
.next
.nuxt
dist
out
.vuepress/dist
.temp
.cache
**/.vitepress/dist
**/.vitepress/cache
.docusaurus

# Serverless
.serverless/

# FuseBox
.fusebox/

# DynamoDB Local
.dynamodb/

# TernJS
.tern-port

# VS Code testing
.vscode-test

# Editor files
.vscode/
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
